<%- include('../main/header', { title: 'Список книг' }) %>

<div class="text-center">
  <h1>404 - Страница не найдена</h1>
  <p>Возможно, страница, которую вы ищете, была удалена, ее название изменено или она временно недоступна.</p>
  <a class="btn btn-primary" href="/">Перейти на главную</a>
</div>

<%- include('../main/footer') %>
