<%- include('../main/header', { title: 'Список книг' }) %>

<div class="text-center">
  <h1>Ошибка: <%= title %></h1>
  <p><%= message %></p>
  <a class="btn btn-primary" href="/">Перейти на главную</a>
</div>

<%- include('../main/footer') %>
